:host {
  display: unset;
}

h1 {
  padding: 4rem 22rem 0;

  &.fixed {
    background: #282424;
    color: white;
  }
}

.buttons {
  position: sticky;
  top: 0;
  left: 0;

  z-index: 10000;

  padding: 1rem 22rem;

  margin-top: 2rem;
  margin-bottom: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  &.fixed {
    background: #282424;
    border-bottom: 4px solid #080606;
  }
}

.left-buttons, .right-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}