:host {
  display: unset;
}

h1 {
  padding: 4rem var(--padding) 0;

  &.fixed {
    background: var(--header);
    color: white;
  }
}

.buttons {
  position: sticky;
  top: 0;
  left: 0;

  z-index: 100;

  padding: 1rem var(--padding);

  margin-top: 1.75rem;
  margin-bottom: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  border-bottom: 4px solid transparent;

  &.fixed {
    background: var(--header);
    border-bottom: 4px solid #080606;
  }
}

@media (max-width: 768px) {
  h1 {
    padding: 2rem var(--padding) 0;
  }

  .buttons {
    padding: 0.5rem var(--padding);

    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}