<div modal>
  <div class="character__name">
    <span
      class="character__first-name"
      placeholder="Prénom"
      [textContent]="statblock.firstName"
      (input)="updateFirstName($event)"
      (beforeinput)="checkInput($event)"
      contenteditable
    ></span>
    <span
      class="character__last-name"
      placeholder="Nom"
      [textContent]="statblock.lastName"
      (input)="updateLastName($event)"
      (beforeinput)="checkInput($event)"
      contenteditable
    ></span>
  </div>
  <div class="character__subtext">
    <div placeholder="Sexe" [class.visible]="statblock.sex">
      <select [(ngModel)]="statblock.sex">
        @for (sex of SEX | keyvalue; track sex) {
          <option [value]="sex.value">{{ sex.value }}</option>
        }
      </select>
    </div>

    <div placeholder="Race" [class.visible]="statblock.race">
      <select [(ngModel)]="statblock.race">
        @for (race of RACES | keyvalue; track race) {
          <option [value]="race.value">{{ raceBySex(race.value, statblock.sex) }}</option>
        }
      </select>
    </div>

    <div placeholder="Classe" [class.visible]="statblock.class">
      <select [(ngModel)]="statblock.class">
        @for (class of CLASSES | keyvalue; track class) {
          <option [value]="class.value">{{ classBySex(class.value, statblock.sex) }}</option>
        }
      </select>
    </div>
  </div>

  <div class="character__subtext2">
    <div class="character__level">
      <b>Niveau : </b>
      <span
        placeholder="0"
        [textContent]="statblock.level"
        (input)="updateLevel($event)"
        (beforeinput)="checkNumberInput($event)"
        contenteditable
      ></span>
    </div>
    <div class="character__height">
      <b>Taille : </b>
      <span
        placeholder="0"
        [textContent]="statblock.height"
        (input)="updateHeight($event)"
        (beforeinput)="checkNumberInput($event)"
        contenteditable
      ></span>
      cm
    </div>
    <div class="character__alignment">
      <b>Alignement : </b>
      <span
        placeholder="Loyal Bon"
        [textContent]="statblock.alignment"
        (input)="updateAlignment($event)"
        (beforeinput)="checkInput($event)"
        contenteditable
      ></span>
    </div>
  </div>

  <div class="character__armor">
    <div class="character__armor-class">
      <b>Classe d'armure : </b>
      <span
        placeholder="0"
        [textContent]="statblock.armorClass"
        (input)="updateArmorClass($event)"
        (beforeinput)="checkNumberInput($event)"
        contenteditable
      ></span>
    </div>
    <div class="character__hit-points">
      <b>Points de vie : </b>
      <span
        placeholder="0"
        [textContent]="statblock.hitPoints"
        (input)="updateHitPoints($event)"
        (beforeinput)="checkNumberInput($event)"
        contenteditable
      ></span>
    </div>
    <div class="character__speed">
      <b>Vitesse : </b>
      <span
        placeholder="0"
        [textContent]="statblock.speed"
        (input)="updateSpeed($event)"
        (beforeinput)="checkNumberInput($event)"
        contenteditable
      ></span>
      mètres
    </div>
  </div>

  <div class="character__stats">
    @for (stat of statblock.stats; track trackBy(i, stat); let i = $index) {
      <div class="character__stat">
        <div class="character__stat-name">{{ statNames[i] }}</div>
        <div class="character__stat-modifier">{{ statModifier(stat) }}</div>
        <div class="character__stat-value">
          <input
            placeholder="0"
            [(ngModel)]="statblock.stats[i]"
            (beforeinput)="checkNumberInput($event)"
            />
          </div>
        </div>
      }
    </div>

    <description
      [(value)]="statblock.description"
      [editable]="true"
    ></description>

    <div class="buttons">
      <button class="add-button" (click)="createCharacter()">Créer</button>
    </div>
  </div>