.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;

  color: white;
  text-shadow: 0 0 3px rgba(0,0,0,0.6);

  padding-right: 0.5rem;
  margin-bottom: 0.75rem;
}

.left-header {
  display: flex;
  align-items: center;
}

.team-header {
  margin-left: 22px;
  width: 64px;
}

.name-header {
  margin-left: 1.75rem;
  width: 260px;
}

.hp-header {
  margin-left: 2.25rem;
  width: 30px;
}

.ac-header {
  margin-left: 2rem;
  width: 30px;
}

.bonus-header {
  margin-left: 248px;
}

.roll-header {
  margin-left: 36px;
}

.board {
  padding: 0 var(--padding) 8rem;
}

.character-list {
  position: relative;
  display: block;
  width: 100%;
}