<div class="board">
  <div class="header">
    <div class="left-header">
      <div class="team-header">team</div>
      <div class="name-header">nom du personnage</div>
      @if (!initiativeService.isSpectator) {
        <div class="hp-header">pv</div>
      }
      @if (!initiativeService.isSpectator) {
        <div class="ac-header">ca</div>
      }
      @if (!initiativeService.inCombat) {
        <div class="bonus-header">mod</div>
      }
      @if (!initiativeService.inCombat) {
        <div class="roll-header">jet</div>
      }
    </div>

    @if (initiativeService.inCombat) {
      <div class="right-header">
        Round : {{ initiativeService.round }}
      </div>
    }
  </div>

  <div class="character-list" [style.height]="listHeight">
    @for (character of characters; track character) {
      <tracker-character
        [character]="character"
        [position]="character.position"
        [class.playing]="initiativeService.inCombat && initiativeService.isPlaying(character)"
        [class.waiting]="initiativeService.inCombat && !initiativeService.isPlaying(character)"
      ></tracker-character>
    }
  </div>
</div>