.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;

  padding-right: 0.5rem;

  margin-bottom: 0.75rem;
}

.left-header {
  display: flex;
  align-items: center;
}

.team-header {
  padding-left: 24px; 
}

.bonus-header {
  padding-left: 52px;
  text-align: center;
}

.name-header {
  padding-left: 34px;
}

.roll-header {
  padding-left: 376px;
}

.board {
  padding: 0 var(--padding) 8rem;
}

.character-list {
  position: relative;
  display: block;
  width: 100%;
}