<div modal>
  <div class="character__header">
    <div class="character__name">{{ statblock.name }}</div>
    <div class="character__subtext">{{ subtext }}</div>
  </div>
  
  <div class="character__body">
    <div class="character__armor">
      <div class="character__armor-class"><b>Classe d'armure : </b>{{ statblock.armorClass }}</div>
      <div class="character__hit-points"><b>Points de vie : </b>{{ statblock.hitPoints }}</div>
      <div class="character__speed"><b>Vitesse : </b>{{ statblock.speed }} mètres</div>
    </div>
    
    <div class="character__stats">
      <div class="character__stat" *ngFor="let stat of statblock.stats; index as i">
        <div class="character__stat-name">{{ statNames[i] }}</div>
        <div class="character__stat-modifier">{{ statModifier(stat) }}</div>
        <div class="character__stat-value">{{ stat }}</div>
      </div>
    </div>
    
    <description [value]="statblock.description"></description>
  </div>
</div>