<index-header 
  [(activeType)]="activeType"
  [(filter)]="filter"
></index-header>

<div class="test">
  <div class="ornament"></div>
  <button>Recherche avancée </button>
  <div class="ornament"></div>
</div>

<div class="list">
  <!-- move to own component -->
  <ng-container *ngFor="let element of completeList">
      <div 
        class="list-element" 
        (click)="open(element)"
        (contextmenu)="openContextMenu($event, element)"
        (keydown.enter)="open(element)"
        [class.spell]="element.type === IndexElementType.Spell"
        [class.statblock]="element.type === IndexElementType.StatBlock"
        [class.place]="element.type === IndexElementType.Place"
        tabindex="0"
      >
        <div 
          class="bookmark"
        ></div>
        <div class="elem-title">
          {{ element.name }}
        </div>
        <div class="elem-subtext">
          {{ formatSubtext(element) }}
        </div>
      </div>
  </ng-container>
</div>