.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  padding: 0 var(--padding);
  margin-bottom: 4rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  padding: 0 var(--padding) 8rem;
}

.list-element {
  cursor: pointer;

  position: relative;

  flex: 1 1 auto;
  padding: 0.75rem 1.25rem;
  
  background-color: white;

  border-radius: 2px;

  overflow: hidden;

  transition: all 0.12s ease-in-out;

  &.spell {
    --main-color: var(--spell);
  }

  &.character {
    --main-color: var(--character);
  }

  &.place {
    --main-color: var(--place);
  }

  & .bookmark {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 0.375rem;

    background: var(--main-color);
  }

  & .elem-title {
    font-size: 20px;
    font-weight: bold;
  }

  & .elem-subtext {
    font-size: 14px;
    color: var(--subtext);
  }

  &:is(:hover, :focus-visible) {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    scale: 1.025;
  }

  &:focus-visible {
    outline: 3px solid var(--main-color);
    outline-offset: 3px;
  }
}


.menu-dropdown {
  position: relative;

  & * {
    &:focus {
      outline: none;
    }
  }

  & .menu-dropdown-content {
    pointer-events: none;
    position: absolute;
    top: calc(100% + 0.5rem);
    right: 0;
    z-index: 100;

    background: white;

    border-radius: 3px;

    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);

    opacity: 0;

    translate: 0 -0.25rem;
  
    transition: all 0.1s ease-in-out;
  }

  &:focus-within {
    & .menu-dropdown-content {
      pointer-events: auto;
      translate: none;
      opacity: 1;
    }
  }
}

.menu-dropdown-item {
  position: relative;

  height: auto;
  width: 100%;

  padding: 0.5rem 1rem;

  background: none;
  border-radius: 0;

  text-align: left;
  font-weight: bold;
  color: var(--text);

  transition: all 0.12s ease-in-out;

  &:is(:active, :hover, :focus-visible) {
    color: var(--primary-300);
  }

  &:not(:first-child)::before {
    content: '';

    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;

    height: 1px;
    width: 80%;
    opacity: 0.4;

    background: var(--subtext);
  }
}