<div modal>
  <h2>Importer des personnages</h2>
  <label for="file-input" tabindex="0">
    <div>
      <span *ngIf="!currentFile">Importer</span>
      <div *ngIf="currentFile" class="fileName">
        <span>{{ fileNameFirstPart }}</span>
        <span>{{ fileNameLastPart }}</span>
      </div>
    </div>
    <input
      id="file-input"
      type="file" 
      (change)="onFileChange($event)"
      accept=".json"
    />
  </label>
  
  <div *ngIf="currentFile" class="character-count">
    <ng-container *ngIf="characters?.length > 0">
      <div>
        {{ characters.length + ' ' + (characters.length > 1 ? "personnages trouvés" : "personnage trouvé") }}
      </div>
      <button (click)="importCharacters()">Importer</button>
    </ng-container>
  
    <div *ngIf="!characters?.length">
      Le fichier importé est invalide
    </div>
  </div>


</div>
