////    VARIABLES    ////

$separator-color: #dddddd;
$off-color: #909090;
$overlay-background: #ffffff;
$selection-color: var(--primary-300);
$error-color: var(--primary-300);

// ------    BASE CLASSES ------ //

.font {
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

////    INPUT STYLE    ////

.select {
  --primary: var(--primary-300);
  cursor: pointer;

  position: relative;

  border: none;
  border-radius: 2px;

  background-color: white;

  height: 50px;
  width: 100%;
  padding: 0 2.75rem 0 1.5rem;
  overflow: hidden;

  @extend .font;

  &.error {
    --primary: #{$error-color};
  }

  &[disabled='true'] {
    //todo
  }

  &:not([disabled='true']):is(.open, :focus) {
    outline: 2px solid var(--primary-300);
    outline-offset: -4px;
  }
}

.values {
  display: block;
  width: 100%;

  line-height: 51px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text);

  &.placeholder {
    user-select: none;
    color: $off-color;
  }
}

[disabled='true'] .values {
  cursor: default;
  color: $off-color;
}

.error[disabled='false'] .values {
  color: $error-color;
}

.right-icon {
  position: absolute;
  z-index: 2;
  bottom: 8px;
  right: 1rem;
}

.arrow,
.clear-icon {
  height: 24px;
  width: 24px;
  fill: $off-color;
  transition: fill 180ms cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow {
  :is(.open, :focus) & {
    fill: var(--primary);
  }

  :is(.error:not([disabled='true'])) & {
    fill: $error-color;
  }
}

.clear-button {
  padding: 0;

  height: 24px;
  margin-bottom: 5px;

  background: none;
  border: none;

  &:is(:focus, :hover) {
    outline: none;
    svg {
      fill: $error-color;
    }
  }
}

////    OVERLAY STYLE    ////

.options-overlay {
  margin-top: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 280px;
  height: 240px;

  background: $overlay-background;

  box-shadow:
    0px 5px 5px -3px rgba(0, 0, 0, 0.1),
    0px 8px 10px 1px rgba(0, 0, 0, 0.05),
    0px 3px 14px 2px rgba(0, 0, 0, 0.06);

  border-radius: 2px;

  opacity: 0;
  transform: translateY(-0.25rem);
  transform-origin: top center;

  overflow: hidden;

  animation: open 180ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation-delay: 10ms;
}

// FILTER

.filter-wrapper {
  flex: 0 0 auto;

  display: flex;
  align-items: center;
  gap: 1rem;

  height: 50px;

  border-bottom: 2px solid $separator-color;
}

.filter-input {
  width: 100%;
  height: 100%;

  border: none;
  outline: none;

  padding: 0 1.5rem;

  @extend .font;
}

// LIST VIEW

.scroll-box {
  position: relative;
  flex: 1 1 auto;

  overflow-y: auto;

  will-change: scroll-position, contents;
}

.option-list {
  position: absolute;
  top: 0;
  left: 0;

  margin: 0;
  padding: 0;

  width: 100%;
  overflow: hidden;

  list-style: none;

  &:focus {
    outline: none;
  }
}

.option,
.no-result {
  width: 100%;
  padding-left: 1rem;

  @extend .font;
}

.no-result {
  color: $off-color;
}

.separator {
  height: 1px;
  margin: 2px 0.75rem;

  background: $separator-color;
}

.option {
  cursor: pointer;
  user-select: none;
  position: relative;

  display: flex;
  align-items: center;
  gap: 1rem;

  color: black;

  &:hover,
  &.focused,
  &.selected:not(.multiple) {
    background: rgba(0, 0, 0, 0.04);
  }

  &:not(.multiple) {
    justify-content: space-between;
  }

  &.selected {
    color: $selection-color;
  }

  & > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.checkbox {
  cursor: pointer;
  flex: 0 0 auto;
  position: relative;

  width: 18px;
  height: 18px;

  border-radius: 2px;
  border: 2px solid $off-color;

  background: rgba(255, 255, 255, 0);

  &:after {
    content: '';

    width: 10px;
    height: 4px;
    transform-origin: center;
    top: -2.8284271247px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    border-left: 2px solid #ffffff;
    transform: rotate(-45deg);
    box-sizing: content-box;

    position: absolute;
    border-bottom: 2px solid #ffffff;

    opacity: 0;
  }

  .selected &,
  &.checked {
    border-color: $selection-color;
    background: $selection-color;

    &:after {
      opacity: 1;
    }
  }
}

.checkmark {
  flex: 0 0 auto;
  height: 100%;

  padding-right: 2rem;

  display: flex;
  align-items: center;

  &:after {
    content: '';

    display: block;
    border-left: 8px solid currentColor;
    border-bottom: 8px solid currentColor;
    transform: rotate(-45deg);
    box-sizing: content-box;
    width: 14px;
    height: 6px;
    transform-origin: center;

    margin-bottom: 4px;
  }
}

.scroll-body {
  pointer-events: none;
  z-index: -1;
}

////    ANIMATIONS    ////

@keyframes open {
  to {
    opacity: 1;
    transform: none;
  }
}
