<div id="artwork-bg" class="world-index" [style.--scroll-offset.px]="maskOffset" [style.opacity]="showBackground('world-index')"></div>
<!-- <div id="artwork-bg" class="roll-initiative" [style.--scroll-offset.px]="maskOffset" [style.opacity]="showBackground('roll-initiative')"></div> -->

@if (!initiative.isSpectator) {
  <div class="header">
    <nav>
      <a routerLink="/character-sheets">Feuilles de personnage</a>
      <a routerLink="/world-index">Index du monde</a>
      <a routerLink="/roll-initiative">Traqueur d'initiative</a>
    </nav>
  </div>
}
<router-outlet></router-outlet>