.header {
  display:flex;
  align-items: center;
  justify-content: flex-end;

  height: calc(16rem + 60px);

  padding: 16rem var(--padding) 0;
  margin-top: -16rem;
  
  background: var(--header);
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  gap: 2rem;

  & > a {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
  }
}

#artwork-bg {
  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  height: 100vh;
  width: 100vw;

  background-size: cover;
  background-position: center calc(50% + var(--scroll-offset, 0px)/6);

  mask-image: url('/assets/images/aqua.webp');
  mask-repeat: repeat-x;
  mask-position: 50% calc(-15dvh + var(--scroll-offset, 0px)/4);
  mask-size: 80dvh;
  mask-composite: subtract;

  transition: opacity 0.12s ease-in-out;

  &.world-index {
    background-image: url('/assets/images/jedd-chevrier-neverwinter.webp');
  }

  &.roll-initiative {
    background-image: url('/assets/images/andrew-kuzinskiy-combat.webp');
  }
}