:host {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 12000;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  background: rgba(0, 0, 0, 0.5);

  overflow: hidden;

  transition: opacity 0.12s ease-in-out;

  &.hidden {
    pointer-events: none;
    opacity: 0;

    & > .modal {
      translate: 0 1rem;
      scale: 0.97;
    }
  }
}

.modal {
  position: relative;

  padding: 1.5rem 2rem;

  width: 40vw;

  color: #181212;
  background-color: #fff;
  border-radius: 10px;

  overflow: hidden;

  transition: translate 0.10s ease-in-out, scale 0.10s ease-in-out;
}

.close {
  background: none;

  position: absolute;
  top: 2rem;
  right: 2rem;

  padding: 0;

  height: 2rem;
  width: 2rem;

  font-size: 1.5rem;

  color: #868686;

  transition: color 0.06s ease-in-out;

  &:is(:hover, :focus-visible) {
    color: #181212;
  }
}

h2 {
  margin-bottom: 3rem;
}

h3 {
  margin: 2rem 0 1rem;
  font-size: 1.5rem;

}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;
}

.label {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-weight: bold;
  font-size: 18px;
}

label:not(.checkbox) {
  pointer-events: none;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

.checkbox {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 1.5rem;
  width: 1.5rem;

  border: 2px solid #868686;

  cursor: pointer;

  transition: border-color 0.06s ease-in-out;

  input:is(:hover, :focus-visible) + & {
    border-color: #181212;
  }

  input:checked + &::after {
    content: '';

    height: 1rem;
    width: 1rem;

    background: var(--primary-300);
  }
}

.help-icon {
  pointer-events: fill;
  position: relative;
  display: flex;
  fill: #868686;
  transition: fill 0.06s ease-in-out;

  &:is(:hover, :focus-visible) {
    fill: #181212;

    &::before {
      content: attr(data-help);
      pointer-events: none;

      position: absolute;
      top: calc(100% + 0.5rem);
      left: 50%;
      translate: -50%;
      z-index: 11001;

      padding: 1rem;

      width: 14rem;
      
      font-weight: normal;
      font-size: 16px;

      color: #fff;
      background-color: #181212;
      opacity: 0.92;

      border-radius: 3px;

      transition: opacity 0.06s ease-in-out;
    }
  }

  &.top {
    &::before {
      top: auto !important;
      bottom: calc(100% + 0.5rem);
    }
  }
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;

  color: #868686;
}

#tag {
  margin-right: 0.5rem;
}

.credit-button {
  cursor: pointer;
  height: 24px;
  width: 24px;

  border: none;
  border-radius: 50%;

  background: none;
}

.credit-button > * {
  fill: #868686;
  transition: fill 0.2s ease;
}

.credit-button:is(:focus, :active, :hover) > * {
  fill: #181212;
}

.please {
  font-size: 12px;
}