.character__name {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-family: 'Mrs Eaves';
  font-size: 28px;
  letter-spacing: -0.8px;
  color: var(--special-text);
  
  margin-bottom: 0.5rem;
}

.character__subtext, .character__subtext2 {
  border-bottom: 2px solid var(--gold-accent);
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.character__subtext {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.character__subtext2 {
  padding-left: 4px;
}

.character__description {
  position: relative;
  cursor: text;

  &::after {
    content: '';
    
    position: absolute;
    z-index: 0;
    top: -0.25rem;
    left: -0.25rem;
    
    height: calc(100% + 0.5rem);
    width: calc(100% + 0.5rem);

    border-radius: 3px;

    transition: background 0.12s ease-in-out;
  }

  &:hover::after {
    background: rgba(0,0,0,0.04);
  }

  &:is(:focus, :active, :focus-within) {
    outline: none;

    &::after {
      background: rgba(0,0,0,0.08);
    }
  }
}

.character__armor {
  padding-left: 3px;
  margin-bottom: 1rem;
}

.character__stats {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  gap: 1rem;

  margin-bottom: 2rem;
}

.character__stat {
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;

  width: 5rem;
  padding: 0.5rem 0rem 1.5rem;

  box-sizing: content-box;

  font-family: 'Roboto Condensed';
  font-size: 11px;

  border: 2px solid var(--gold-accent);
}

.character__stat-name {
  text-transform: uppercase;
  color: var(--subtext);
}

.character__stat-modifier {
  font-weight: bold;
  font-size: 32px;
  white-space: pre;
}

.character__stat-value {
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50% -50%;

  width: 65%;

  padding: 0.3rem;

  background: white;

  border: 2px solid var(--gold-accent);
  border-radius: 50%;

  
  overflow: hidden;

  &:hover {
    background: #f5f5f5;
  }

  &:focus-within {
    background: #ebebeb;
  }

  & > input {
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 14px;

    background: none;
    border: none;

    &:is(:focus, :active) {
      outline: none;
    }
  }
}

.character__description {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  height: 20rem;
  width: 60dvw;

  & > .description-html {
    overflow: auto;
  }
  
  & > textarea {
    resize: none;
    border: none;
    height: 0;
    width: 0;
    overflow: hidden;

    font-family: 'Roboto Condensed';
    font-size: 16px;
  }

  &:focus-within, &:has(textarea:placeholder-shown) {
    & > .description-html {
      display: none;
    }

    & > textarea {
      height: 100%;
      width: 100%;

      padding: 1px;

      overflow: auto;
    }
  }

  &::after {
    position: absolute;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-top: 1rem;
}