:host {
  --background: #FFFBF8;

  &::ng-deep .buttons.buttons {
    margin-bottom: 0;
  }
}

.right-header {
  display: flex;
  gap: 1rem;
  flex: 0 1 50%;

  & .searchbar {
    flex: 1 1 auto;
  }
}

.menu-dropdown {
  position: relative;

  & * {
    &:focus {
      outline: none;
    }
  }

  & .menu-dropdown-content {
    pointer-events: none;
    position: absolute;
    top: calc(100% + 0.5rem);
    right: 0;
    z-index: 100;

    background: white;

    border-radius: 3px;

    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);

    opacity: 0;

    translate: 0 -0.25rem;
  
    transition: all 0.1s ease-in-out;
  }

  &:focus-within {
    & .menu-dropdown-content {
      pointer-events: auto;
      translate: none;
      opacity: 1;
    }
  }
}

.menu-dropdown-item {
  position: relative;

  height: auto;
  width: 100%;

  padding: 0.5rem 1rem;

  background: none;
  border-radius: 0;

  text-align: left;
  font-weight: bold;
  color: var(--text);

  transition: all 0.12s ease-in-out;

  &:is(:active, :hover, :focus-visible) {
    color: var(--primary-300);
  }

  &:not(:first-child)::before {
    content: '';

    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;

    height: 1px;
    width: 80%;
    opacity: 0.4;

    background: var(--subtext);
  }
}

@media (max-width: 768px) {
  :host::ng-deep .buttons {
    flex-wrap: wrap;
  }

  .right-header {
    flex: 1 1 100%;
  }
}