[modal] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.place__name {
  font-family: 'Mrs Eaves';
  font-size: 28px;
  letter-spacing: -0.8px;
  color: var(--special-text);
  
  margin-bottom: 0.5rem;
}

.place__type {
  margin-bottom: 0.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-top: 1rem;
}