:host {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.25rem;

  padding-bottom: 1rem;
}

.team-color {
  cursor: pointer;

  display: block;
  flex: 0 0 50px;

  padding: 0;

  height: 50px;
  width: 50px;

  background: var(--primary-300);
  border-radius: 2px;

  &:is(:hover, :focus-visible) {
    outline: none;
    background: var(--primary-400);
  }

  &.ally {
    background: var(--ally-300);

    &:is(:hover, :focus-visible) {
      outline: none;
      background: var(--ally-400);
    }
  }

}

.row {
  flex: 1 1 auto;
  display: flex;
  gap: 1.5rem;

  padding: 0 1.5rem;

  background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 98%);

  border-radius: 2px;
}

input[type="text"] {
  padding: 0;
  margin: 0;

  background: none;
  border: none;

  color: white;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;

  &:is(:focus-visible) {
    outline: none;
  }

  &.bonus {
    width: 24px;
    text-align: right;
  }
}