:host {
  position: absolute;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.25rem;

  width: 100%;

  padding-bottom: 0.5rem;

  transition: translate 0.32s ease-in-out;

  animation : pop 0.12s ease-in-out;

  &.grabbed {
    z-index: 9000;
    pointer-events: none;
    scale: 1.01;

    transition: none;
  }

  &.playing {
    scale: 1.01;
  }

  &.waiting {
    opacity: 0.5;
    scale: 0.98;
  }
}

.handle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 3px;

  width: 1rem;

  background: rgb(20, 20, 20);
  border-radius: 2px;

  cursor: grab;

  transition: background 0.06s ease-in-out;

  &.disabled {
    pointer-events: none;
    cursor: default;
  }

  &:not(.disabled):is(:hover, :focus-visible) {
    outline: none;
    background: rgb(72, 72, 72);
  }

  & .bar {
    pointer-events: none;
    height: 1px;
    width: 10px;

    background: rgb(134, 134, 134);
  }
}

.team-color {
  cursor: pointer;

  display: block;
  flex: 0 0 64px;

  padding: 0;

  height: 64px;
  width: 64px;

  background: var(--primary-300);
  border-radius: 2px;

  &:is(:hover, :focus-visible) {
    background: var(--primary-400);
  }

  &.ally {
    background: var(--ally-300);

    &:is(:hover, :focus-visible) {
      background: var(--ally-400);
    }
  }

}

.row {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  padding: 0 1.5rem;

  // background: linear-gradient(90deg, rgba(20,20,20,1) 40%, rgba(20,20,20,0) 99%);
  background: rgba(20,20,20,0.95);

  border-radius: 2px;
}

.row-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

input:is([type="text"], [type="number"]) {
  padding: 0;
  margin: 0;

  background: none;
  border: none;

  color: white;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;

  &:is(:focus-visible) {
    outline: none;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  width: 30px;
  text-align: right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.row-button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  
  height: 24px;
  width: 24px;

  background: none;

  font-size: 20px;
  color: #868686;

  transition: color 0.06s ease-in-out;

  &:is(:hover, :focus-visible) {
    color: white;

    &.del-button {
      color: var(--primary-400);
    }
  }
}

.lock-icon {
  height: 18px;
  width: 18px;

  fill: white;

  transition: fill 0.06s ease-in-out;

  .open & {
    fill: #868686;
  }

  .open:is(:hover, :focus-visible) & {
    fill: white;
  }
}

.name-input {
  width: 260px;
}

input[type="number"].ac-input {
  margin-right: 220px;
}

.current-hp {
  display : flex;
  align-items: flex-start;

  margin-left: -20px;

  gap: 0.25rem;

  div {
    color: var(--subtext);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  
    padding-top: 2px;

    width: 20px;
  }
}

@keyframes pop {
  from {
    opacity: 0;
    transform: translateY(0.4rem) scale(0.98);
  }
  90% {
    opacity: 1;
    transform: translateY(0) scale(1.01);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}