<ng-container *ngIf="!editable">
  <div class="markdown-to-html" [innerHTML]="value | markdown"></div>
</ng-container>

<ng-container *ngIf="editable">
  <div class="wrapper">
    <div 
      class="markdown-to-html" 
      [innerHTML]="value | markdown"
      (scroll)="onScroll($event)"
      (click)="focusTextArea()"
      #descriptionHtml
    ></div>
    <textarea 
      placeholder="Description" 
      [(ngModel)]="valueModel"
      #descriptionText
    ></textarea>
  </div>
</ng-container>
