.markdown-to-html {
  width: 60dvw;
  max-height: min(28rem, 64dvh);
  overflow: hidden auto;

  // fix for weird overflow + max-height bug
  padding-bottom: 2px;
  margin-bottom: -2px;
}

.wrapper {
  position: relative;
  cursor: text;

  display: block;

  height: 20rem;
  width: 60dvw;

  &::after {
    content: '';
    
    position: absolute;
    z-index: 0;
    pointer-events: none;
    top: -0.25rem;
    left: -0.25rem;
    
    height: calc(100% + 0.5rem);
    width: calc(100% + 0.5rem);

    border-radius: 3px;

    transition: background 0.12s ease-in-out;
  }

  &:hover::after {
    background: rgba(0,0,0,0.04);
  }

  &:is(:focus, :active, :focus-within) {
    outline: none;

    &::after {
      background: rgba(0,0,0,0.08);
    }
  }

  & > .markdown-to-html {
    position: absolute;
    height: 100%;
    overflow: auto;
  }
  
  & > textarea {
    pointer-events: none;
    position: absolute;
    resize: none;
    border: none;
    height: 100%;
    width: 100%;

    opacity: 0;
    padding: 1px;

    overflow: auto;

    font-family: 'Roboto Condensed';
    font-size: 16px;
  }

  &:focus-within, &:has(textarea:placeholder-shown) {
    & > .markdown-to-html {
      opacity: 0;
      pointer-events: none;
    }

    & > textarea {
      pointer-events: all;
      opacity: 1;
    }
  }

  &::after {
    position: absolute;
  }
}