@if (!editable) {
  <div class="markdown-to-html" [innerHTML]="value | markdown"></div>
}

@if (editable) {
  <div class="wrapper">
    <div
      class="markdown-to-html"
      [innerHTML]="value | markdown"
      (scroll)="onScroll($event)"
      (click)="focusTextArea()"
      #descriptionHtml
    ></div>
    <!-- <textarea
    placeholder="Description"
    [(ngModel)]="valueModel"
    #descriptionText
    (input)="onInput($event)"
    (keydown)="onKeyDown($event)"
    (blur)="onBlur()"
  ></textarea> -->
  <textarea
    placeholder="Description"
    [(ngModel)]="valueModel"
    #descriptionText
  ></textarea>
  <!-- <div
  class="ref-autocomplete"
  [class.show]="showRefAutocomplete"
  #refAutocomplete
></div> -->
</div>
}
