:host {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  border-radius: 3px;
  padding: 42px;

  max-width: 90dvh;
  max-height: 90dvh;

  overflow: hidden;

  background: #FFFFFF;

  box-shadow: 0 4px 32px 1px rgba(0,0,0,0.3);
}

.character__name {
  font-family: 'Mrs Eaves';
  font-weight: normal;
  text-align: center;
  font-size: 28px;
  letter-spacing: -0.8px;
  color: #2E0909;
}