@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

@font-face {
  font-family: 'Modesto';
  src: url('./assets/fonts/Modesto.ttf');
}

@font-face {
  font-family: 'Mrs Eaves';
  src: url('./assets/fonts/MrsEavesSmallCaps.otf');
}

@font-face {
  font-family: 'Bookmania';
  src: url('./assets/fonts/BookmaniaRegular.otf');
}

@font-face {
  font-family: 'Bookmania';
  font-style: italic;
  src: url('./assets/fonts/BookmaniaItalic.otf');
}

@font-face {
  font-family: 'Bookmania';
  font-weight: bold;
  src: url('./assets/fonts/BookmaniaBold.otf');
}

:root {
  --primary-200: #8C0B0B;
  --primary-300: #BC0F0F;
  --primary-400: #EB1313;

  --ally-200: #006A3C;
  --ally-300: #008042;
  --ally-400: #00A653;

  --gold-accent: #978963;

  --padding: 22rem;

  --text: #181212;
  --subtext: #666666;
  --special-text: #581208;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  outline-color: white;
}

body {
  position: absolute;
  top: 0;
  left: 0;

  min-height: 100vh;
  width: 100vw;

  font-family: 'Roboto Condensed', sans-serif;
  color: var(--text);

  background: #FFFCF8;

  overflow-x: hidden;

  &.grabbing {
    pointer-events: none;

    &::after {
      pointer-events: all;
      content: '';

      position: fixed;
      top: 0;
      left: 0;

      height: 100vh;
      width: 100vw;

      cursor: grabbing !important;
    }
  }
}

h1, h2 {
  font-size: 3rem;
  font-family: 'Modesto', serif;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: normal;
}

h2 {
  font-size: 2.5rem;
}

button {
  cursor: pointer;

  height: 50px;
  
  padding: 0 3rem;
  
  border: none;
  border-radius: 0.125rem;
  
  background: var(--primary-300);
  color: white;
  
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;

  transition: background 0.06s ease-in-out;

  &:is(:hover, :focus-visible) {
    background: var(--primary-400);
  }

  &.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 50px;

    padding: 0;
  }

  &.icon-text-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 1rem;

    padding: 0 3rem 0 1.25rem;
  }
}

.icon {
  height: 28px;
  width: 28px;

  fill: white;
}

.cog {
  rotate: 45deg;
}

#marble-background, #parchment-background, #dust-foreground {
  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  background-size: cover;
  background-position: center;
}

#marble-background {
  z-index: -2;
  background-image: url('./assets/images/MARBLE_IMG.png');
  opacity: 0.7;

  filter: blur(2px);
}

#parchment-background {
  z-index: 10000000;
  background-image: url('./assets/images/PARCHMENT_IMG.png');
  mix-blend-mode: multiply;
}

#dust-foreground {
  z-index: 10000000;
  background-image: url('./assets/images/DUST_IMG.jpg');
  opacity: 0.025;
  mix-blend-mode: exclusion;
}

////   MODAL    ////

[modal] {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  border-radius: 3px;
  padding: 42px;

  max-width: 90dvw;
  max-height: 90dvh;

  overflow: hidden;

  background: #FFFFFF;

  box-shadow: 0 4px 32px 1px rgba(0,0,0,0.3);
}


////    MARKDOWN STYLES    ////

.mh1, .mh2, .mh3 {
  font-family: 'Mrs Eaves';
  font-weight: normal;
  color: var(--special-text);
}

.mh1 {
  font-size: 24px;
  letter-spacing: -0.8px;
}

.mh2 {
  font-size: 20px;
  letter-spacing: -0.6px;
}

hr.mhr {
  height: 2px;
  width: 100%;

  border: none;
  background: var(--gold-accent);
}

li.mli {
  padding-left: 0.5rem;
  & span {
    margin-left: -0.25rem;
  }
}

@media (max-width: 1440px) {
  :root {
    --padding: 12rem;
  }
}

@media (max-width: 1024px) {
  :root {
    --padding: 6rem;
  }

  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  :root {
    --padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }
}