@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

@font-face {
  font-family: 'Tiamat SC';
  src: url('./assets/fonts/tiamat-sc-condensed-regular.otf');
}

@font-face {
  font-family: 'Mrs Eaves';
  src: url('./assets/fonts/MrsEavesSmallCaps.otf');
}

@font-face {
  font-family: 'Bookmania';
  src: url('./assets/fonts/BookmaniaRegular.otf');
}

@font-face {
  font-family: 'Bookmania';
  font-style: italic;
  src: url('./assets/fonts/BookmaniaItalic.otf');
}

@font-face {
  font-family: 'Bookmania';
  font-weight: bold;
  src: url('./assets/fonts/BookmaniaBold.otf');
}

:root {
  --primary-200: #8C0B0B;
  --primary-300: #BC0F0F;
  --primary-400: #EB1313;

  --ally-200: #006A3C;
  --ally-300: #008042;
  --ally-400: #00A653;

  --gold-accent: #978963;

  --spell: #882ABA;
  --statblock: #E78300;
  --place: #029254;

  --padding: 22rem;

  --background: #EEECE8;

  --text: #181212;
  --subtext: #767688;
  --special-text: #581208;

  --header: #282424;
}

::selection, ::-moz-selection {
  background-color: var(--primary-200); 
  color: var(--background);
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  outline-color: white;
}

body {
  position: absolute;
  top: 0;
  left: 0;

  min-height: 100vh;
  width: 100vw;

  font-family: 'Roboto Condensed', sans-serif;
  color: var(--text);

  background: var(--background);

  overflow-x: hidden;

  &.grabbing {
    pointer-events: none;

    &::after {
      pointer-events: all;
      content: '';

      position: fixed;
      top: 0;
      left: 0;

      height: 100vh;
      width: 100vw;

      cursor: grabbing !important;
    }
  }
}

h1, h2 {
  font-size: 2.75rem;
  font-family: 'Tiamat SC', serif;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: normal;
}

h2 {
  font-size: 2.25rem;
}

hr {
  height: 2px;
  width: 100%;

  border: none;
  background: var(--gold-accent);

  margin-bottom: 0.5rem;
}

button {
  cursor: pointer;

  height: 50px;
  
  padding: 0 3rem;
  
  border: none;
  border-radius: 0.125rem;
  
  background: var(--primary-300);
  color: white;
  
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;

  transition: background 0.06s ease-in-out;

  &:is(:hover, :focus-visible) {
    background: var(--primary-400);
  }

  &.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 50px;

    padding: 0;
  }

  &.icon-text-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 1rem;

    padding: 0 3rem 0 1.25rem;
  }

  & svg {
    height: 28px;
    width: 28px;

    fill: currentColor;
  }
}

.searchbar {
  flex: 0 1 auto;
  height: 50px;
  padding: 0 1.5rem;

  width: 50%;

  border: none;
  border-radius: 2px;

  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;

  background-color: white;

  &:focus {
    outline: 2px solid var(--primary-300);
    outline-offset: -4px;
  }
}

#parchment-bg {
  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  background-size: cover;
  background-position: center;

  z-index: 10000000;
  background-image: url('./assets/images/PARCHMENT_IMG.png');
  mix-blend-mode: multiply;
}

////   MODAL    ////

[modal] {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  border-radius: 3px;
  padding: 42px;

  max-width: 90dvw;
  max-height: 90dvh;

  overflow: hidden;

  background: #FFFFFF;

  box-shadow: 0 4px 32px 1px rgba(0,0,0,0.3);
}


////    MARKDOWN STYLES    ////

.markdown-to-html p {
  white-space: pre-wrap;
  line-break: anywhere;
}

.mh1, .mh2, .mh3 {
  font-family: 'Mrs Eaves';
  font-weight: normal;
  color: var(--special-text);
}

.mh1 {
  font-size: 24px;
  letter-spacing: -0.4px;
}

.mh2 {
  font-size: 20px;
  letter-spacing: -0.2px;
}

hr.mhr {
  height: 2px;
  width: 100%;

  border: none;
  background: var(--gold-accent);
}

li.mli {
  padding-left: 0.5rem;
  & span {
    margin-left: -0.25rem;
  }
}

.index-elem-ref {
  cursor: pointer;
  position: relative;
  color: #0088ff;

  padding-inline: 0.1875rem;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    translate: -50% -50%;

    height: calc(100% + 0.25rem);
    width: 100%;

    border-radius: 6px;

    background: #0088ff;
    opacity: 0.12;

    transition: opacity 0.12s ease-in-out;
  }

  &:hover::after {
    opacity: 0.18;
  }
}


////    FORMS    ////

div[placeholder] {
  position: relative;

  &::before {
    pointer-events: none;
    position: absolute;
    inset: 0;

    border: 2px solid transparent;

    padding: 0.25rem 0.25rem;
    padding-left: 0.5rem;
    content: attr(placeholder);
    color: #9A9A9A;
  }

  &.visible {
    &::before {
      display: none;
    }
  }
}

[placeholder]:empty::before {
  content: attr(placeholder);
  color: #9A9A9A; 
}

select {
  width: 120px;
  padding: 0.25rem 0.25rem;
  
  border-radius: 0;
  border: 2px solid var(--gold-accent);

  font-family: 'Roboto Condensed';
  font-size: 16px;

  transition: background 0.12s ease-in-out;

  &:is(:focus, :active) {
    outline: none;
  }

  &:focus-visible {
    background: rgba(0,0,0,0.08);
  }
}

option {
  background: white;
}

[contenteditable] {
  position: relative;
  cursor: text;

  &::after {
    content: '';
    
    position: absolute;
    z-index: 0;
    top: -0.25rem;
    left: -0.25rem;
    
    height: calc(100% + 0.5rem);
    width: calc(100% + 0.5rem);

    border-radius: 3px;

    transition: background 0.12s ease-in-out;
  }

  &:hover::after {
    background: rgba(0,0,0,0.04);
  }

  &:is(:focus, :active, :focus-within) {
    outline: none;

    &::after {
      background: rgba(0,0,0,0.08);
    }
  }
}


////    MEDIA QUERIES    ////

@media (max-width: 1440px) {
  :root {
    --padding: 12rem;
  }
}

@media (max-width: 1024px) {
  :root {
    --padding: 6rem;
  }

  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  :root {
    --padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }
}