:host {
  display: block;
  box-sizing: border-box;
  perspective: 6000px;
  perspective-origin: center;
}

.spell {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  will-change: transform;

  border-radius: 11px;
  padding: 42px;
  width: 500px;
  height: 640px;

  overflow: hidden;

  background: #EEECE8;

  box-shadow: 0 4px 32px 1px rgba(0,0,0,0.3);

  transition: transform 0.2s ease-out, 
    filter 0.2s ease-out, 
    scale 0.2s ease-out;

  scale: 1.02;

  &.anim {
    scale: none;
  }
}

.spell__header {
  background: rgba(172, 143, 70, 0.4);
  padding: 0.5rem 1.5rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  text-align: center;
  color: var(--special-text);
  line-height: 0.8;

  border-bottom: 2px solid var(--gold-accent);
}

.spell__title {
  font-family: 'Mrs Eaves';
  font-weight: normal;
  text-align: center;
  font-size: 28px;
  letter-spacing: -0.8px;
}

.spell__level-school {
  font-family: 'Bookmania';
  font-style: italic;
  font-size: 17px;
  letter-spacing: -0.44px;

  margin-bottom: 0.25rem;
}

.spell__body {
  flex: 1;
  padding: 0.5rem 0.75rem;

  font-size: 14px;
  font-family: 'Bookmania' !important;
  line-height: 1.35;

  overflow: hidden auto;

  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0.4rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.1);
    border-radius: 10rem;
  }
}

.spell__meta {
  margin-bottom: 1rem;
}

.spell__description {
  &:after {
    content: '';
    display: block;
    height: 0.5rem;
  }

  & ::ng-deep table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    
    margin: 1rem 0;

    font-family: 'Roboto Condensed' !important;
    font-size: 15px;

    tbody > tr:nth-child(odd) {
      background: rgb(235,235,255);
    }

    & th {
      text-align: left;
    }

    th, td {
      padding: 0.25rem;
    }

    th + th, td + td {
      padding-left: 0.75rem;
    }
  }

  & ::ng-deep ul {
    padding-left: 1rem;
  }
}